/* =================================
   Tag Selection 
   ================================= */

/* body {
  padding: 12px;	
}
 */
/* ==================================
   Class Selectors
   ================================== */
   
/* ====== Bootstrap  */
#myFamily .panel-heading:hover {
  background-color: #2779AA ;
  color: white;
}   
/* 
  .modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
    */
/* ======= General =================*/
.main-header{
	padding:25px;
	margin-bottom:20px;
	background-color: #6291c0 !important; 
	color: white;
	font-size: 1em;
	position: relative !important;
}

  .bottom-align {
    position: absolute;
    bottom: 0;
    right: 0;
  }

.disabled {
	background:#EFF5FF !important; 
}

.error {
	color: red;
}

.font0_9em {
	font-size:0.9em;
}

.font1_2em {
	font-size:1.2em;
}

.hidden {
	display:none;
}

.left {
	text-align:left;
}

.lightBlue {
	color:LightBlue 
}
.right {
	text-align:right;
}

.focusField{  
    border:solid 2px #73A6FF;  
    background:#EFF5FF;  
    color:#000;  
}  
.idleField{  
    background:#EEE;  
    color: #6F6F6F;  
    border: solid 2px #DFDFDF;  
} 

.floatRight {
	float: right !important;
}

.floatLeft {
	float: left !important;
}

.floatNone {
	float:none !important;
}

.noBorder {
	border:none !important;
}

.border4px {
    border-width: 4px !important;	
}

.selectedCell {
    border-width: 4px !important;	
}

.margin10px {
	margin: 10px !important;
}
.noBackground {
	background:none !important;
}

.bold {
	font-weight: bold !important;
}


.padding2px {
	padding: 2px !important;
}

.padding10px {
	padding: 10px !important;
}

.padding5px {
	padding: 5px !important;
}

.green, .notice {
	color:#629a00 !important;
}


.minHeight20 {
	min-height: 20px !important;
}


.minHeight40 {
	min-height: 40px !important;
}

.lightGrey {
	background-color:#d3d3d3 !important;
}

.red, .critical {
	color:#F00 !important;
}
.yellow {
	color:#FFD700 !important;
}
.orange, .important {
	color:#F60;
}

.pct5 {
	width: 5%;
}
.pct10 {
	width: 10%;
}
.pct20 {
	width: 20%;
}
.pct15 {
	width: 15%;
}
.pct40 {
	width: 40%;
}
.px75 {
	width: 75px;
}
.pct100 {
	width: 100%;
}
.pct90 { 
   margin-left:5%; 
   width: 90%;
}
.px67-ib {
	width: 67px;
	display:inline-block;
}

.px100 {
	width: 100px;
}

.inlineblock {
	display:inline-block;
}

 /* === JQuery UI Adaptor classes =========== */
    
.jqTable{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
  
}

.jqTable td, .jqTable th  {
    margin: 0;
    padding: 4px;
}


/* ======== Header ==================== */
.branding h1 {
  margin: 0;
}


.block {
	display: block;
} 

/* ======== Left Navigation =========== */

.nav {
  list-style: none;
/*	padding: 10px; */
}

ul.nav a:hover,
ul.nav a:focus,
ul.nav a.selected {
	color: #ffffff;
	background-color: #6698FF; 
}

ul.nav a {
  display: block;
	color: #2B60DE;
	font-size: 1.5em;
	text-decoration: none;
	border-top: 1px solid #E4FFD3;
	border-bottom: 1px solid #38ACEC;
	padding: 10px;
}

/* ========== error Page ========== */
.errorWrapper {
  width: 280px;
  padding-right: 20px;
  float: right;
}

/* ========== mainWrapper Page ========= */

.mainWrapper .introWrapper { 
  width: 600px;
  float: left; 
} 

img.introPhoto {
	width: 600px;
}

.mainWrapper {
	overflow: hidden;
	min-height:400px;
}

/* mainWrapper */

.mainWrapper .leftBar { 
  width: 100px;
  float: left; 
  font-size: 1.2em;
  text-align: center;
  background: #fff url(../img/nav-bg-fixed.gif) repeat-y left top;
} 

.mainWrapper .leftBar  {
	padding-left: 20px;
}

/* 
.centerTable {
	width:100%;
}

.centerTable th {
	border:2 none;
}


.centerTable td {
	border: 1px solid #CCCCCC;
}
 */
 
.buttonBar {
	padding: 12px 0px 12px 0px;
}

.buttonBar input[type="submit"] {
}

/* ========== Footer ============== */

.footer {
  padding: 1px 20px;
  border-top: 1px solid #cce6f9;
  text-align: center;
  display: block;
  font-size: 1em;
}


/* ==============================   
 *           login page 
 * ============================== */

#forgotLnk {
	color: #198fff;
	margin-top: 15px;
	outline: medium none;
	text-decoration: none;
}

.dfltAnchorButton {
	padding: 0.4em 1em 0.4em 20px;
	position: relative;
	text-decoration: none;
}

/* ===================================== *
 *            Home Page                  *
 * ======================================*/

/* ========== homeWrapper ============== */
#homeWrapper {	
	position:relative;
}

/* ==============================   
 *           Money Page
 * ============================== */
/* 
#moneyChartWrapper {
	width:30%;
}

#moneyDetailWrapper {
	width:60%;
	left: 32%;
}

.transitionWrapper {
	width:98%;
}
*/
 
/* ==================================
 *   Add new Monetary Trac Pop up
 * ================================== */
/* .tracPopup fieldset { 
	padding:0; border:0; 
}

.popupField .tracInput {
	position: absolute;
	left: 150px;
	width:170px;
	float:right;
}

.popupField {
	margin-bottom:10px; 	
	padding-bottom: 10px;
	padding-top: 10px;
	border-collapse: collapse;
}

.popupField textarea {
	height:30px;
}

.popupField label {
	font-weight: bold;	
}

.dateField img {
	display:inline;
	position:absolute;
	left:250px;	
}

.dateField input[type="text"]{
	width:100px !important; 
}
 */
/* ============================ *
 *  Wall Message                *
 * ============================ */
 
#wallMessageTable {
	font-size:0.9em;
}
/*       
div.content table.wallMessageList {
	width:100%;
	margin: 5px 0 0 0;
}
div.content table.wallMessageList td h5 a {
	font-size:11px;
	white-space: normal;
	color: #333;
}
div.content table.wallMessageList a {
	display:block;
	white-space: nowrap;
}

div.content table.wallMessageList a.del:hover {
	background:#2779AA;
}

div.content table.wallMessageList a.coverImage,
div.content table.wallMessageList td:first-child {
	text-align:center;
}
div.content table.wallMessageList td {
	border-bottom:1px solid #DDD;
	padding:7px 4px;
	vertical-align: middle;
	line-height: 1.2em;
	white-space: normal;
	font-size: 11px;
}
 */
/* ================================= *
 *  Registration                     *
 * ================================= */
 
.regRightWrapper {
	position:relative;
	overflow:auto;
	padding:1% 1% 1% 2%;
 	margin:1% 1% 1% 2%;
 	width: 50%; 
	float:right;
}

.regLeftWrapper {
	width: 35%;
	float: left;
	padding:1% 2%;
 	margin:1% 2%; 
}


/* ============================== *
 * Administration                 *
 * ============================== */
 
#adminContentWrapper {
	min-height:600px;
}

#adminContentPanelWrapper {
	min-height:400px;
}


#myInfoWrapper {
	margin: 5px;	
	border: 1px solid #2694E8;
	padding: 5px 15px;
}

#myInfoWrapper #myInfoTitle {
	padding: 10px 2px;
}

 .adminView .centerPanelWrapper {
 	left: 21%;	
	width: 75%;
}

 #adminleftPanel {
	width:20%;
	margin-right: 10px;
	padding: 0;
}

#adminLeftMenu {
	border: none;
    color: #2779AA;
    font-weight: bold;
    font-size: 1em;
}

 #adminLeftMenu .selected {
	background: url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #D7EBF9; 	
    border: 3px solid #2694E8;
 }
 
  #adminLeftMenu .default {
	background-color: #FFFFFF;
    border: 1px solid #AED0EA;
 }

 #adminLeftMenu li{
 	list-style-type:none;
 	margin: 10px;
 	padding: 8px 0px;
 	width: 180px;
 }
 
 .admimFamilyPopup #dobMonth {
 	margin-left: 12px;
 }
 
 .admimFamilyPopup .dobField {
 	width: 70px;
 	margin-left: 2px;
 }
 
 .admimFamilyPopup .tracInput {
	position: absolute;
	left: 150px;
	width:170px;
	float:right;
}
 .admimFamilyPopup .popupField {
	margin: 4px;
	padding: 5px;
}
 
 
 #modifyHomeAddressBtn {
 	margin: 20px 0 10px;
 }
 
 /* ======================== *
  *   Calendar               *
  * ======================== */

#calendarTable {
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.calendarHeader {
	color:#0070a3;
	text-shadow: 1px 1px 1px #555; 
	min-height:50px;
	padding: 10px 0;
}
.addEventHeader {
	margin-right: 2%;
	margin-top: 13px;
	padding: 3px 4px;
	cursor: pointer;
	float:right;
}

.calendarScrollHeader {
	display:inline-block;
	font-size:1.1em; 
	width:280px;
	border: 1px solid #aed0ea;
    color: #2779aa;
    font-weight: bold;
    padding:2px;
    margin-top: 4px;
}

#weekScrollHeader {
	margin-left:18%;
}
#dayScrollHeader {
	margin-left:18%;
}

#monthScrollHeader {
	margin-left:18%;
}
#moneyScrollHeader {
	margin-left:35%;
}

.dayWeekMonthDiv {
	display:inline-block;
 	float:left; 
	margin-left:2%;
	margin-top:15px;	
	cursor: pointer;
	width:20%;
	padding: 0;
}

.calendarWeekTable {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.dayHeader {
	padding: 5px;
	border: 1px solid #6291c0;
	background-color:#6291c0;
	color: #ffffff;
	font-weight:bold;
}

.dayCell {
	padding: 5px;
	border: 1px solid #6291c0;
	width: 160px;
	min-height:35px;
}
.weekCell {
	padding: 5px;
	border: 1px solid #6291c0;
	width: 160px;
	min-height:35px;
}
.monthlyCalendarCell {
	padding: 5px;
	border: 1px solid #6291c0;
	width: 13%;
}

.monthlyCalendarRow {
	height:100px;
}

#scheduleTable {
	float:left;
	margin-left:10px;
}

.scheduledDayHeader {
	border: 1px solid #6291c0;
	background-color:#d7ebf9;
	color: #2779AA;
	font-weight:bold;
	padding-left:30px;
}

.width33pct {
	width: 33.33%;
}

.width98pct {
	width: 98%;
}

.scheduledDayCell {
	padding: 5px;
	border: 1px solid #6291c0;
	width: 180px;
}

.calendar_date_string_div {
	margin: 4px auto;
	position: relative;
	padding: 4px 2px;
	cursor: pointer;
	float: left;
	width: 185px;	
	height:20px;
	font-size: 1em;
	display: table-cell;
	text-align: center;
}

.next_arrow {
	float: right;
}
.prev_arrow {
	float: left;
}

.icon-div {
	margin: 3px;
	position: relative;
	padding: 6px 0;
	cursor: pointer;
	float: left; 
}

.icon-div span.ui-icon {
	float: left;
	margin: 0 6px;
}

/* ==================================
 *   Add new Event Trac Pop up
 * ================================== */
 
/* Event Pop Up */
.eventPopup{
	padding: 15px !important;
}


.eventPopup fieldset { 
	padding:0; border:0; 
}

.eventPopup .popupField eventInput {
	left: 145px;
	width:170px;
	float:right;
}

.eventPopup .popupField {
	margin-bottom:10px; 	
	padding-bottom: 10px;
	padding-top: 10px;
	border-collapse: collapse;
}

.eventPopup .popupField textarea {
	height:30px;
}

.eventPopup .textAreaPopupField {
	height:40px;
}

.eventPopup .textPopupField {
	height:25px;
}


.eventPopup .eventForm .popupLabel {
	font-weight: bold;	
	width:80px;
	display:inline-block;
	vertical-align:top;
}

.eventPopup .eventDateField img {
	display:inline-block;
	margin-left:5px;
	margin-right:20px;	
}

.eventPopup .eventDateField input[type="text"]{
	width:75px !important; 
}

.eventPopup .eventTitle {
	width:350px !important;
}

.eventPopup .eventComment {
	width:350px;
	height:50px !important;
}

/* Error Dialog */

.jqMessage {
	padding: 5px;
	font-size: 1.1em;
}

/* =================
   Calendar Day 
   ================= */


.calendarDayTable {
	border-collapse: separate;
	border-spacing: 2px;
	padding: 5px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#dailyToday {
	margin-left:20px;
}


/* ================
   Wall Message
   ================ */

/* ================
   Manage Account  
   ================ */
 
#manageAccountHeader {
	margin:2% 15%;
}
#manageAccountDiv {
	width:60%;
	margin-left:20%;
}
#manageAccountTable th[scope=row] {
	text-align:right;
	margin: 1%;
}

#manageAccountTable td {
	text-align: left;
	margin:1%;
	padding:1% !important;
}

#manageAccountTable {
	margin: 2%;
	padding:2%;
 	width:80%; 
}

.manageAccountRowDiv {
	margin: 1%;	
}



/* ==========================
        Manage Family  
   ========================== */
 
#manageFamilyHeader {
	margin:2% 30%;
	display:inline;
}

/* ==========================
        Manage Transaction  
   ========================== */
 
#manageMoneyTransactionDiv {
	width:80%;
	margin-left:10%;	
} 

#manageMoneyTransactionHeader {
	margin:2% 30%;
	display:inline;
}

/* ================
   Manage Address  
   ================ */
#manageAddressDiv {
	width:60%;
	margin-left:20%;
}

#manageAddressHeader {
	margin:2% 15%;
}
#manageAddressDiv {
	width:60%;
	margin-left:20%;
}
#manageAddressTable th[scope=row] {
	text-align:right;
	margin: 1%;
}

#manageAddressTable td {
	text-align: left;
	margin:1%;
	padding:1% !important;
}

#manageAddressTable {
	margin: 2%;
	padding:2%;
 	width:80%; 
}

.manageAddressRowDiv {
	margin: 1%;	
}

/* ============
   Angular JS
   ============ */
.access-screen {
	max-width: 270px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.88em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.form-messages {
    margin-top: 1em;
    font-size: 0.9em;
    border-radius: 4px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 1em;
}
.form-messages.errors {
    color: #e9322d;
    background-color: #fbe8e5;
}
.error-icon, .info-icon {
    margin-left: 0.8em;
    display: inline-block;
    height: 25px;
}
.messages-group {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.3em;
}


/* ==================
   Errors 
   ================== */

#leftBarDiv {
	width:45%;
}

.errorRightDiv {
	width:45%;
	margin: 1%;
	padding: 2%;
	float: right;
}


.show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.show-hide.ng-hide {
  opacity:0;
}

/* ============================ THE END ============================= */